*{
    margin: 0;
    padding: 0;
    font-family: QingSongShouXieTi, sans-serif;
}
html {
    scroll-behavior: smooth;
    font-family: "Roboto";
  }

/*---------------------------------------------------------------------------------------------------*/
/*===================================================================================================*/
/*---------------------------------------------------------------------------------------------------*/

.header{
    height: 100vh;
    min-height: 600px;
    width: 100%;

    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
body:not(.touch-device) #header-img {
    --multiplier: clamp(0, calc(-5 * var(--scroll-y-percent, 0) + 1.5), 1);
    transform: translate(calc(var(--tx, 0) * var(--multiplier, 1)),calc(var(--ty, 0) * var(--multiplier, 1)));
    transition: transform .1s linear 0s;
}

#header-img{
    background-image: url(https://s23.moe/assets/66028042_p0-977c66d4.webp);
    background-color: rgb(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}

#background {
    position: fixed;
    z-index: -2;
    background-color: var(--md-sys-color-on-tertiary-container, #242424);
    will-change: filter;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    width: calc(100lvw + 60px);
    height: calc(100lvh + 60px)
}

#background .background-image {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation-name: animation;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

.clearfix {
    content:"";
    display:table;
    clear:both;
}
  
#footer {
    padding: 20px 0;
    position: relative;
    margin-top: 20px;
    font-size: 13px;
  }
  
#footer .octicon-mark-github {
    position: absolute;
    bottom: 38px;
    left: 50%;
    height: 24px;
    width: 24px;
    margin-top: -4px;
    margin-left: -12px;
    font-size: 30px;
    color: #ccc;
}
  
#footer .octicon-mark-github:hover {
    color: #fff;
}
  
.right { float: right; }
#footer .right { margin-right: -12px; }
  
#legal {
    margin: 0;
    list-style: none;
    padding-left: 0px;
}
  
#legal li {
    display: inline-block;
    margin-right: 15px;
}

a {
    color: #fc3;
    text-decoration: none;
}

.sha {
    float: right;
    color: transparent;
    cursor: pointer;
  }

.mega-octicon {
    font: normal normal 32px github-octicons;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}
